<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thea.wecare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Consult" />
        <activity android:name=".Body" />
        <activity android:name=".BodyProcedure" />
        <activity android:name=".Learning" />
        <activity android:name=".Herbal" />
        <activity android:name=".Monitoring" />
        <activity android:name=".BookMark" />
        <activity android:name=".TermofUse" />
        <activity android:name=".AboutUs" />
        <activity android:name=".SignUp" />
        <activity android:name=".HerbalInfo" />
        <activity android:name=".BookmarkItem" />
        <activity android:name=".DiseaseInfo" />
        <activity android:name=".ViewUserDisease"></activity>
    </application>

</manifest>